@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab"),
    url(../fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Basetica;
  src: url("../fonts/Basetica-Med.otf") format("opentype");
}

img {
  max-width: 100%;
}

iframe {
  z-index: 1100 !important;
}

/* 3Box Comments */
.comments_footer {
  overflow-x: hidden !important;
}
